@font-face {
    src: url('/assets/fonts/roboto/Roboto-Black.ttf') format('truetype');
    font-family: "Roboto-Black";
}
@font-face {
    src: url('/assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-family: "Roboto-Bold";
}
@font-face {
    src: url('/assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-family: "Roboto-Light";
}
@font-face {
    src: url('/assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-family: "Roboto-Medium";
}
@font-face {
    src: url('/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-family: "Roboto";
}
@font-face {
    src: url('/assets/fonts/roboto/Roboto-Thin.ttf');
    font-family: "Roboto-Thin";
}
@font-face {
    font-family: "Roboto-Condensed-Bold";
    src: url('/assets/fonts/roboto/RobotoCondensed-Bold.ttf');
}
@font-face {
    font-family: "Roboto-Condensed-Light";
    src: url('/assets/fonts/roboto/RobotoCondensed-Light.ttf');
}
@font-face {
    font-family: "Roboto-Condensed";
    src: url('/assets/fonts/roboto/RobotoCondensed-Regular.ttf');
}
