<div class="container">
    <!-- <div class="event-table-container" *ngIf="event">
        <div class="day" *ngFor="let day of daysOfTheWeek; let j = index;" (click)="selectDay(day)" [class.selected]="day === selectedDay">
            <div class="day-name">{{ day }}</div>
            <div class="event-wrapper">
                <div class="event" *ngFor="let event of event[day]; let j = index;">
                    <div class="event-name">{{ event.name }}</div>
                    <div class="action-icons">
                        <div>
                            <span (click)="deleteEvent(event._id, $event)">delete</span>
                        </div>
                        <div>
                            <span (click)="updateEventHandler(event._id, day, $event, event.name)">edit</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="add-edit-event-container" [formGroup]="eventForm">
        <div>Add/Edit Event for <span class="add-edit-event-title">{{ selectedDay }}</span></div>
        <input #eventInput placeholder="Enter an event" formControlName="name">
        <div (click)="handleFormSubmit()">
            <button class="submit-btn" mat-raised-button color="accent">Submit</button>
        </div>
    </div> -->
    <div class="header">
        todoapp
    </div>

    <div class="events-list-wrapper">
        <app-events-list></app-events-list>
    </div>

    <!-- <div class="add-edit-event-container">

    </div> -->
</div>
