.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.event-table-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 70px 10%;
    border: solid 1px;
    height: 300px;
    overflow: auto;
    border-radius: 3px;
}

.day {
    border: 1px solid;
    cursor: pointer;
}

.day.selected {
    background: rgba(74, 74, 95, 0.29);
}

.day-name {
    border-bottom: 2px solid;
    font-weight: bold;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    margin: 5px;
}

.event {
    border: solid 1px;
    width: 100%;
    text-align: center;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    position: relative;
    &:hover {
        .action-icons {
            display: inline;
        }
    }
}

.event-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.action-icons {
    display: none;
    position: absolute;
    right: 10px;
}

.mat-icon {
    font-size: 15px;
    width: 15px;
    height: 15px;
}

.add-edit-event-container {
    text-align: center;
    width: 300px;
    margin: auto;
    border: 1px solid;
    padding: 5px;
    border-radius: 3px;
}

.add-edit-event-title {
    font-weight: bold;
    color: #3e4db8;
}

mat-form-field, .submit-btn {
    width: 100%;
}
