<app-loader *ngIf="showSpinner"></app-loader>
<div *ngIf="event">
    <div class="event-list-container">
        <div class="day" *ngFor="let day of daysOfTheWeek" (click)="selectDay(day)" [class.selected]="day === selectedDay">
            <div class="day-name">{{ day }}</div>
            <div *ngFor="let event of event[day]">
                <app-event
                    [event]="event"
                    (deleteEventEmitter)="deleteEventHandler($event)"
                    (editEventEmitter)="updateEventHandler($event)"
                >
                </app-event>
            </div>
        </div>
    </div>

    <div class="add-edit-event-container" [formGroup]="eventForm">
        <div class="add-edit-element title">Add/Edit Event for<span class="add-edit-event-tag">{{ selectedDay }}</span></div>
        <input class="add-edit-element" #eventInput placeholder="Enter an event" formControlName="name">
        <div class="add-edit-element btn-container" (click)="handleFormSubmit()">
            <button [disabled]="eventForm.invalid" class="submit-btn">Submit</button>
        </div>
    </div>
</div>
