.event-list-container {
    border: solid 1px #777777;
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(90px, auto);
    grid-auto-flow: dense;
    // padding: 10px;
    margin: 0 20%;
}

.day {
    text-align: center;
}

.day.selected {
    background: rgba(74, 74, 95, 0.29);
}
